<apex:page controller="ContactSearchController">
    <script>
        function dynamicSearch(){
            searchCont(document.getElementById('sName').value, document.getElementById('opt').options[document.getElementById("opt").selectedIndex].value) 
        }
       
    </script>

    <apex:outputPanel id="scriptUpd">
        <script>
            function openRecordPage(){
                var t = '{!recId}';
                var win = window.open('/' + t + '/e', '_blank');
                win.focus();
            }
            
            function openRecordDetailPage(){
                var t = '{!recId}';
                var win = window.open('/' + t , '_blank');
                win.focus();
            }
        </script>
    </apex:outputPanel>
    <apex:form >
        <apex:actionFunction name="searchCont" action="{!searchCont}" rerender="divTable">
            <apex:param name="sName" value=""/>
            <apex:param name="oType" value=""/>
        </apex:actionFunction>
        
        <apex:pageBlock id="tableBlock" title="Contact Search">
            <div class="opt">
                <apex:outputText value="Search: "/>&nbsp;
                <select id="opt">
                    <apex:repeat value="{!options}" var="opt">
                        <option value="{!opt}">{!opt}</option>
                    </apex:repeat>
                </select>&nbsp;
                <input type="text" placeholder="Search Name...." onkeyup="dynamicSearch();" id="sName" size="30"/>
            </div><br/>
            <apex:outputPanel id="divTable">
                <apex:pageBlockTable value="{!contList}" var="cont" rendered="{!contList.size != 0}" >
                    <apex:column headerValue="Action" width="5%">
                        <apex:commandLink value="Edit" id="theCommandLink" action="{!openEditPage}" oncomplete="openRecordPage();" rerender="scriptUpd">
                            <apex:param name="recId" value="{!cont.Id}" id="param"/>
                        </apex:commandLink> | &nbsp;
                        <apex:commandLink value="View" id="theCommandLink2" action="{!openEditPage}" oncomplete="openRecordDetailPage();" rerender="scriptUpd">
                            <apex:param name="recId" value="{!cont.Id}" id="param2"/>
                        </apex:commandLink>
                        
                    </apex:column>
                    <apex:column headerValue="First Name" value="{!cont.FirstName}">
                    </apex:column>
                    <apex:column headerValue="Last Name" value="{!cont.LastName}">
                    </apex:column>
                    <apex:column headerValue="Account" value="{!cont.Account.Name}">
                    </apex:column>
                    <apex:column headerValue="Technology" value="{!cont.Technology__c}">
                    </apex:column>
                </apex:pageBlockTable>
                <apex:outputText value="<i>No Contact records!</i>" rendered="{!contList.size == 0}"  escape="false"/>
            </apex:outputPanel>
            
        </apex:pageBlock>
        
        
    </apex:form>
</apex:page>